#carousel {
  display: flex;
  justify-content: center;
  background-color: black;

}

.carousel-inner {

  width: 30%;
  height: 20%;
}

.carousel-inner h1 {
  color: white;
  width: 600px;
  font-size: 35px;
}